@import '~@s-ui/theme/lib/index';

.sui-CardMovie {
  background-color: $c-white;
  border: $bdw-m solid $c-black;
  border-radius: $bdrs-xl;
  box-shadow: $bxsh-l;
  color: $c-black;
  display: flex;
  padding: $p-l;

  &-description {
    padding: 0 $p-l;

    &Title {
      font-size: $fz-xxxl;
    }
    &Subtitle {
      color: $c-gray;
      font-size: $fz-m;
    }

    &Text {
      font-size: $fz-l;
      margin-top: $m-l;
    }
  }
}
