@import '~@s-ui/theme/lib/index';

.sui-HeaderBase {
  background-color: #060606;
  border-bottom: $bdrs-s solid $c-black;
  padding: $p-s $p-xxxl;

  header {
    display: flex;
    min-height: 50px;
    align-items: center;
  }
}
