@import '~@s-ui/theme/lib/index';

.sui-ThumbnailPicture {
  border: $bdrs-s solid $c-black;
  border-radius: 6px;
  background-color: $c-black;
  height: 100%;
  padding: $p-s;

  &-title {
    font-size: $fz-s;
    padding: $p-m;
  }

  &-image {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
